<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Online Movie Tickets Booking, Theatre Tickets Booking, Plays and Sports Ticket Booking at one place ticketnew.com Book Seats Of Your Choice Online Now"
    />
    <meta
      name="keywords"
      content="Movie Tickets, Online Booking, Movie Booking, Theatre Booking, Movie Tickets Online, Theatre Tickets Online, Events, Plays, Theatres"
    />
    <title>Online Booking tickets</title>
    <link rel="stylesheet" href="../assets/styles/theme.css" />
    
    <link rel="stylesheet" href="../assets/styles/card.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assets/styles/slider.css" />
    <link rel="stylesheet" href="../assets/styles/movielocator.css" />
    <link rel="stylesheet" href="../assets/styles/header.css" />
    <link rel="stylesheet" href="../assets/styles/footer.css" />
  </head>

  <body>
    <!-- section-header-start -->

    <header>
      <div class="topnav" id="myTopnav">
        <a href="index.html">
          <img
            id="logo-image"
            src="../assets/images/tn-logo-01.svg"
            width="100"
            alt="logo"
        /></a>

        <a href="#" class="hide" id="locbutton">[Delhi NCR ]</a>
        <a class="active hide" href="#">HOME</a>
        <a href="categorypage.html" class="hide">MOVIES</a>
        <a href="#" class="hide">THEATRES</a>
        <a href="searchmovie.html" class="hide"
          ><i class="fa fa-search"></i>SEARCH</a
        >
        <a style="margin-right: 10%" href="#" class="hide">ORDERS</a>

        <!-- </div> -->

        <span class="nav-right">
          <i class="fa fa-user"></i>
          <a href="logintemp.html" id="login">LOG IN / SIGN UP</a>
          <a class="border-style">|</a>
          <a href="offersindex.html">OFFERS</a>
          <a class="border-style">|</a>
          <i class="fa fa-mobile"></i>
          <a href="appindex.html">APP</a>
        </span>

        <a href="javascript:void(0);" class="icon" onclick="headFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <!-- section-header-end-->
    <!-- advertisement start -->
    <div id="main">
      <div class="advert">
          <img  src="" name="slide" class="banner">

      </div>
      <!-- advertisement end -->

      <!-- heading-slider -->
      <div class="heading-div">
          <h2 class="heading">MOVIES</h2>
      </div>


      <!-- toggle buttons -->
      <div id="toggle-btn-main">
          <button type="button" id="btn-now-showing" class="toggle-btn">NOW
                  SHOWING</button>
          <button type="button" id="btn-upcoming" class="toggle-btn">COMING SOON</button>
      </div>

      <!-- nowshowing movies slider starting-->
      <section class="mainslider" id="mainslider-nowshowing">
<div class="sliderBox">
  <div id="carousel" class="container">
    <div class="control-container">
      <div id="left-scroll-button" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="control-container">
      <div id="right-scroll-button" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="items" id="carousel-items">
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=4"><img class="item-image" src="../assets/images/baahubali.jpg" alt="Bahubali" /></a>
        <h4 class="card-movie-name">Bahubali</h4>
        <h5 class="card-movie-lang">Telugu | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=8"><img class="item-image" src="../assets/images/banglore_days.jpg" alt="Banglore Days" /></a>
        <h4 class="card-movie-name">Banglore Days</h4>
        <h5 class="card-movie-lang">Malayalam | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
       <a href="../views/movieInfoPage.html?mid=2"> <img class="item-image" src="../assets/images/taare_zameen_par.jpg" alt="Taare Zameen Par" /></a>
        <h4 class="card-movie-name">Taare Zameen Par</h4>
        <h5 class="card-movie-lang">Hindi | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
       <a href="../views/movieInfoPage.html?mid=1"> <img class="item-image" src="../assets/images/mission_mangal.jpg" alt="Mission Mangal" /></a>
        <h4 class="card-movie-name">Mission Mangal</h4>
        <h5 class="card-movie-lang">Hindi | U</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=6"><img class="item-image" src="../assets/images/kgf.jpg" alt="KGF" /></a>
        <h4 class="card-movie-name">KGF</h4>
        <h5 class="card-movie-lang">Kanada | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=9"><img class="item-image" src="../assets/images/ustad_hotel.jpg" alt="Ustad Hotel" /></a>
        <h4 class="card-movie-name">Ustad Hotel</h4>
        <h5 class="card-movie-lang">Malayalam | U</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=3"><img class="item-image" src="../assets/images/bigil.jpg" alt="Bigil" /></a>
        <h4 class="card-movie-name">Bigil</h4>
        <h5 class="card-movie-lang">Tamil | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=5"><img class="item-image" src="../assets/images/pushpa.jpg" alt="Pushpa" /></a>
        <h4 class="card-movie-name">Pushpa</h4>
        <h5 class="card-movie-lang">Telugu | U/A</h5>
        <button class="book-btn">Book</button>
      </div>
      <div class="item">
        <a href="../views/movieInfoPage.html?mid=7"><img class="item-image" src="../assets/images/tarak.jpg" alt="Tarak" /></a>
        <h4 class="card-movie-name">Tarak</h4>
        <h5 class="card-movie-lang">Kanada | U/A</h5>
        <button class="book-btn">Book</button>
      </div>

    </div>

  </div>
  
</div>
</section>
      <!-- nowshowing movies slider ending -->
      <!-- UPCOMING movies slider starting-->
     
     <section class="main-slider" id="mainslider-upcoming">
         <div class="sliderBox" >
      <div id="carousel" class="container">
    <div class="control-container">
        <div id="left-scroll-button" class="left-scroll button scroll">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
    </div>
    <div class="control-container">
        <div id="right-scroll-button" class="right-scroll button scroll">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="items" id="carousel-items">

        <div class="item">
            <a href="../views/movieInfoPage.html?mid=14"><img
                    class="item-image" src="../assets/images/helen.jpg" alt="Helen" /></a>
            <h4 class="card-movie-name">Helen</h4>
            <h5 class="card-movie-lang">Malayalam | U/A</h5>

        </div>
        <div class="item">
            <a href="../views/movieInfoPage.html?mid=10"><img
                    class="item-image" src="../assets/images/atrangi_re.jpg" alt="Atrangi Re" /></a>
            <h4 class="card-movie-name">Atrangi Re</h4>
            <h5 class="card-movie-lang">Hindi | U/A</h5>

        </div>
        <div class="item">
            <a href="../views/movieInfoPage.html?mid=11"><img
                    class="item-image" src="../assets/images/kirik_party.jpg" alt="Kirik Party" /></a>
            <h4 class="card-movie-name">Kirik Party</h4>
            <h5 class="card-movie-lang">Kanada | U/A</h5>

        </div>
        <div class="item">
            <a href="../views/movieInfoPage.html?mid=16"><img
                    class="item-image" src="../assets/images/radhe_shyam.jpg" alt="Radhe Shyam" /></a>
            <h4 class="card-movie-name">Radhe Shyam</h4>
            <h5 class="card-movie-lang">Hindi | U</h5>

        </div>
        <div class="item">
            <a href="../views/movieInfoPage.html?mid=12"><img
                    class="item-image" src="../assets/images/action.jpg" alt="Action" /></a>
            <h4 class="card-movie-name">Action</h4>
            <h5 class="card-movie-lang">Tamil | U/A</h5>

        </div>
        <div class="item">
            <a href="../views/movieInfoPage.html?mid=13"><img
                    class="item-image" src="../assets/images/bangarraju.jpeg" alt="Bangarraju" /></a>
            <h4 class="card-movie-name">BangarRaju</h4>
            <h5 class="card-movie-lang">Telugu| U</h5>

        </div>

    </div>

</div>

</div>

         
          <!-- upcoming movies slider ending -->



<!-- view more  -->
      </section>
 
      <div class="link-viewmore"> <a href="categorypage.html">View More></a></div>


  </div>
  <!-- view more end -->
      <!--Movie locator start-->
      <div class="popup">
        <div class="popupContent">
          <img src="../assets/images/close.png" alt="close" class="close" />
          <h5 id="headerCity">Select A City</h5>
          <input
            type="text"
            id="myInput"
            onkeyup="myFunction()"
            placeholder="Search for your city.."
            title="Type in a name"
          />
          <p id="currentcity">Current location</p>
          <p id="currentlocation"></p>
          <div class="row">
            <div class="column">
              <ul id="myUL"></ul>
            </div>
          </div>
        </div>
      </div>

      <!--Movie locator end-->
    </main>

    <!-- footer-start -->
    <footer class="ct-footer">
      <div class="ft-image-display">
        <div class="ft-image-block">
          <img
            class="ft-image"
            src="../assets/images/customer-care.svg"
            alt="customer-care-icon"
          />
          <p class="ft-image-text">CUSTOMER CARE</p>
        </div>
        <div class="ft-image-block">
          <img
            class="ft-image"
            src="../assets/images/feedback.svg"
            alt="feedback-icon"
          />
          <p class="ft-image-text">FEEDBACK</p>
        </div>
        <div class="ft-image-block">
          <img class="ft-image" src="../assets/images/faq.svg" alt="faq-icon" />
          <p class="ft-image-text">FAQ</p>
        </div>
        <div class="ft-image-block">
          <img
            class="ft-image"
            src="../assets/images/about-us.svg"
            alt="about-us-icon"
          />
          <p class="ft-image-text">ABOUT US</p>
        </div>
        <div class="ft-image-block">
          <img
            class="ft-image"
            src="../assets/images/boxoffice.svg"
            alt="box-office-icon"
          />
          <p class="ft-image-text">BOX OFFICE</p>
        </div>
      </div>

      <div class="footer-container">
        <ul class="ct-footer-list">
          <li>
            <h2 class="ct-footer-list-header">BROWSE ALL</h2>
            <ul>
              <li>
                <a href="">Blog</a>
              </li>
              <li>
                <a href="">Now Showing</a>
              </li>
              <li>
                <a href="">Coming</a>
              </li>
              <li>
                <a href="">All Movies</a>
              </li>
              <li>
                <a href="">Cinemas</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">LINKS</h2>
            <ul>
              <li>
                <a href="">Register</a>
              </li>
              <li>
                <a href="">Login</a>
              </li>
              <li>
                <a href="">Order</a>
              </li>
              <li>
                <a href="">Help</a>
              </li>
              <li>
                <a href="">How to use coupons</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">CINEMAS</h2>
            <ul>
              <li>
                <a href="">Sri Vishnu Cinemas</a>
              </li>
              <li>
                <a href="">Lakshmi Cinemas</a>
              </li>
              <li>
                <a href="">Srinivasa Theatre</a>
              </li>
              <li>
                <a href="">Baba Cinemas</a>
              </li>
              <li>
                <a href="">Chandralok Cinemas</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">ENQUIRIES</h2>
            <ul>
              <li>
                <a href="">Events</a>
              </li>
              <li>
                <a href="">Dealers</a>
              </li>
              <li>
                <a href="">Advertising</a>
              </li>
              <li>
                <a href="">Theatre Owners</a>
              </li>
              <li>
                <a href="">Support</a>
              </li>
              <li>
                <a href="">Technical Support</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="ct-footer-list">
          <li>
            <h2 class="ct-footer-list-header">UPCOMING MOVIES</h2>
            <ul>
              <li>
                <a href="">Rattham Ranam Rowthiram</a>
              </li>
              <li>
                <a href="">KGF Chapter 2</a>
              </li>
              <li>
                <a href="">Radhe Shyam</a>
              </li>
              <li>
                <a href="">Vikram</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">NOW PLAYING</h2>
            <ul>
              <li>
                <a href="">Writer</a>
              </li>
              <li>
                <a href="">83</a>
              </li>
              <li>
                <a href="">Rocky</a>
              </li>
              <li>
                <a href="">Pushpa</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">NEXT CHANGE</h2>
            <ul>
              <li>
                <a href="">Spider Man</a>
              </li>
              <li>
                <a href="">Ghosty</a>
              </li>
              <li>
                <a href="">Velle</a>
              </li>
              <li>
                <a href="">Eternals</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="ct-footer-post">
          <ul>
            <li>
              <a href="#" class="fa fa-facebook"></a>
            </li>
            <li>
              <a href="#" class="fa fa-twitter"></a>
            </li>
          </ul>

          <ul>
            <li>Copyright © 2022 XT Core Team. All rights reserved</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- footer-end -->

    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/slider.js"></script>
    <script src="../assets/js/advertisement.js"></script>
    <script src="../assets/js/movielocator.js"></script>
  </body>
</html>
