<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Online Movie Tickets Booking, Theatre Tickets Booking, Plays and Sports Ticket Booking at one place ticketnew.com Book Seats Of Your Choice Online Now">
<meta name="keywords" content="Movie Tickets, Online Booking, Movie Booking, Theatre Booking, Movie Tickets Online, Theatre Tickets Online, Events, Plays, Theatres">
<title>Online Booking tickets</title>
<link rel="stylesheet" href="../assets/styles/theme.css">
<link rel="stylesheet" href="../assets/styles/header.css">
<link rel="stylesheet" href="../assets/styles/footer.css">
<link rel="stylesheet" href="../assets/styles/card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/styles/slider.css">
<link rel="stylesheet" href="../assets/styles/movielocator.css">

</head>

<body>
<!-- section-header-start -->

  <header>
    <div class="topnav" id="myTopnav">

      <a href="loggedinindex.html"> <img id="logo-image" src="../assets/images/tn-logo-01.svg" width="100px" ></a>

      <a href="#" class="hide" id="locbutton">[Delhi NCR ]</a>
      <a class="active hide" href="#">HOME</a>
      <a href="CategoryPage.html" class="hide">MOVIES</a>
      <a href="#" class="hide">THREATRES</a>
      <a href="searchmovie.html" class="hide"><i class="fa fa-search"></i>SEARCH</a>
      <a style="margin-right:10%" href="#" class="hide">ORDERS</a>

    <!-- </div> -->
    
    <span class="nav-right">
      <i class="fa fa-user"></i>
      <a href="bridge.html" id="login">LOG IN / SIGN UP</a>
      <a class="border-style">|</a>
      <a href="offers.html">OFFERS</a>
      <a class="border-style">|</a>
      <i class="fa fa-mobile"></i>
      <a href="app.html">APP</a>
     </span>
  
    <a href="javascript:void(0);" class="icon" onclick="headFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  </header>
<!-- section-header-end-->
<main id="main">
  <div class="advert">
    <img name = "slide" width=100% height=300px>
  
  </div>
  
<!-- Sample Division for the content-start -->
<div class="heading-div">
  <h2 class="heading">MOVIES</h2>
</div>

    
<!-- Sample Division for the content-start -->
<div id="toggle-btn-main">
  <a href="index.html"><button type="button" class="toggle-btn" >NOW SHOWING</button></a>
  <a href="upcomingslider.html"><button type="button" class="toggle-btn">COMING SOON</button></a>
</div>


<section class="mainslider" id="mainslider-nowshowing">
  <div class="sliderBox">
    <div id="carousel" class="container">
      <div class="control-container">
        <div id="left-scroll-button" class="left-scroll button scroll">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="control-container">
        <div id="right-scroll-button" class="right-scroll button scroll">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="items" id="carousel-items">

        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=4
          "><img class="item-image" src="../assets/images/baahubali.jpg" alt="Bahubali" /></a>
          <h4 class="card-movie-name">Bahubali</h4>
          <h5 class="card-movie-lang">Telugu | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=8"><img class="item-image" src="../assets/images/banglore_days.jpg" alt="Banglore Days" /></a>
          <h4 class="card-movie-name">Banglore Days</h4>
          <h5 class="card-movie-lang">Malayalam | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
         <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=2"> <img class="item-image" src="../assets/images/taare_zameen_par.jpg" alt="Taare Zameen Par" /></a>
          <h4 class="card-movie-name">Taare Zameen Par</h4>
          <h5 class="card-movie-lang">Hindi | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
         <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=1"> <img class="item-image" src="../assets/images/mission_mangal.jpg" alt="Mission Mangal" /></a>
          <h4 class="card-movie-name">Mission Mangal</h4>
          <h5 class="card-movie-lang">Hindi | U</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=6"><img class="item-image" src="../assets/images/kgf.jpg" alt="KGF" /></a>
          <h4 class="card-movie-name">KGF</h4>
          <h5 class="card-movie-lang">Kanada | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=9"><img class="item-image" src="../assets/images/ustad_hotel.jpg" alt="Ustad Hotel" /></a>
          <h4 class="card-movie-name">Ustad Hotel</h4>
          <h5 class="card-movie-lang">Malayalam | U</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=3"><img class="item-image" src="../assets/images/bigil.jpg" alt="Bigil" /></a>
          <h4 class="card-movie-name">Bigil</h4>
          <h5 class="card-movie-lang">Tamil | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=5"><img class="item-image" src="../assets/images/pushpa.jpg" alt="Pushpa" /></a>
          <h4 class="card-movie-name">Pushpa</h4>
          <h5 class="card-movie-lang">Telugu | U/A</h5>
          <button class="book-btn">Book</button>
        </div>
        <div class="item">
          <a href="http://127.0.0.1:5502/views/movieInfoPage.html?mid=7"><img class="item-image" src="../assets/images/tarak.jpg" alt="Tarak" /></a>
          <h4 class="card-movie-name">Tarak</h4>
          <h5 class="card-movie-lang">Kanada | U/A</h5>
          <button class="book-btn">Book</button>
        </div>

      </div>

    </div>
    
  </div>

</section>
<div class="link-viewmore"> <a href="CategoryPage.html">View More></a></div>



      







<!-- Sample Division for the content-end -->
<!--Movie locator--start-->
<div class="popup">
  <div class="popup-content">
      <img src="../assets/images/close.png" alt="close" class="close">
      <h5 id="heading">Select a City</h5>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for your city.." title="Type in a name">
      <p id="para">Current location</p>
      <p id="current"></p>
      <div calss="row">
          <div class="column">
  <ul id="myUL">          
  </ul>
  </div>
</div>
</div>
</div>
</div>





<!--Movie locator--end-->
  
</main>

<!-- footer-start -->
    <footer class="ct-footer">
        <div class="ft-image-display">
          <div class="ft-image-block">
              <img class="ft-image" src="../assets/images/customer-care.svg"  alt="customer-care-icon">
              <p class="ft-image-text">CUSTOMER CARE</p>
          </div>
          <div class="ft-image-block">
            <img class="ft-image" src="../assets/images/feedback.svg"  alt="feedback-icon">
            <p class="ft-image-text">FEEDBACK</p>
          </div>
          <div class="ft-image-block">
            <img class="ft-image" src="../assets/images/faq.svg" alt="faq-icon">
            <p class="ft-image-text">FAQ</p>
          </div>
          <div class="ft-image-block">
            <img class="ft-image" src="../assets/images/about-us.svg" alt="about-us-icon">
            <p class="ft-image-text">ABOUT US</p>
          </div>
          <div class="ft-image-block">
            <img class="ft-image" src="../assets/images/boxoffice.svg"  alt="box-office-icon">
            <p class="ft-image-text">BOX OFFICE</p>
         </div>
      </div>
            
      <div class="footer-container">

          <ul class="ct-footer-list">
            <li>
              <h2 class="ct-footer-list-header">BROWSE ALL</h2>
              <ul>
                <li>
                  <a href="">Blog</a>
                </li>
                <li>
                  <a href="">Now Showing</a>
                </li>
                <li>
                  <a href="">Coming</a>
                </li>
                <li>
                  <a href="">All Movies</a>
                </li>
                <li>
                  <a href="">Cinemas</a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="ct-footer-list-header">LINKS</h2>
              <ul>
                <li>
                  <a href="">Register</a>
                </li>
                <li>
                  <a href="">Login</a>
                </li>
                <li>
                  <a href="">Order</a>
                </li>
                <li>
                  <a href="">Help</a>
                </li>
                <li>
                  <a href="">How to use coupons</a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="ct-footer-list-header">CINEMAS</h2>
              <ul>
                <li>
                  <a href="">Sri Vishnu Cinemas</a>
                </li>
                <li>
                  <a href="">Lakshmi Cinemas</a>
                </li>
                <li>
                  <a href="">Srinivasa Theatre</a>
                </li>
                <li>
                  <a href="">Baba Cinemas</a>
                </li>
                <li>
                  <a href="">Chandralok Cinemas</a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="ct-footer-list-header">ENQUIRIES</h2>
              <ul>
                <li>
                  <a href="">Events</a>
                </li>
                <li>
                  <a href="">Dealers</a>
                </li>
                <li>
                  <a href="">Advertising</a>
                </li>
                <li>
                  <a href="">Theatre Owners</a>
                </li>
                <li>
                  <a href="">Support</a>
                </li>
                <li>
                  <a href="">Technical Support</a>
                </li>
              </ul>
            </li>
            
            
          </ul>
          <ul class="ct-footer-list ">
            <li>
              <h2 class="ct-footer-list-header">UPCOMING MOVIES</h2>
              <ul>
                <li>
                  <a href="">Rattham Ranam Rowthiram</a>
                </li>
                <li>
                  <a href="">KGF Chapter 2</a>
                </li>
                <li>
                  <a href="">Radhe Shyam</a>
                </li>
                <li>
                  <a href="">Vikram</a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="ct-footer-list-header">NOW PLAYING</h2>
              <ul>
                <li>
                  <a href="">Writer</a>
                </li>
                <li>
                  <a href="">83</a>
                </li>
                <li>
                  <a href="">Rocky</a>
                </li>
                <li>
                  <a href="">Pushpa</a>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="ct-footer-list-header">NEXT CHANGE</h2>
              <ul>
                <li>
                  <a href="">Spider Man</a>
                </li>
                <li>
                  <a href="">Ghosty</a>
                </li>
                <li>
                  <a href="">Velle</a>
                </li>
                <li>
                  <a href="">Eternals</a>
                </li>
              </ul>
            </li>
           
          </ul>
          
         
        <div class="ct-footer-post">
              <ul>
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
              </ul>

             <ul>
                 <li>Copyright © 2022 XT Core Team. All rights reserved</li>

             </ul>
        </div>
    </footer>
<!-- footer-end -->


 <script src="../assets/js/header.js"></script>
 <script src="../assets/js/slider.js"></script>
 <script src="../assets/js/advertisement.js"></script>
 <script src="../assets/js/movielocator.js"></script>

</body>
</html>